<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark">

  <meta name="author" content="{{ .Params.author | default .Site.Params.author }}">
  <meta name="description" content="{{ .Description | default .Summary | default .Site.Params.description }}">
  <meta name="keywords" content="{{ if reflect.IsSlice .Params.keywords }}{{ delimit .Params.keywords "," }}{{ else }}{{ .Params.keywords | default .Site.Params.keywords }}{{ end }}">

  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:title" content="{{ .Title | default .Site.Title }}"/>
  <meta name="twitter:description" content="{{ .Description | default .Summary | default .Site.Params.description }}"/>

  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{ partial "custom-head.html" . }}
</head>
